<div class="row">
  <div class="col-xs-6 col-lg-4">
    <div class="well well-lg">
      <form name="contactForm" novalidate ng-submit="contactForm.$valid && add(listing)" >
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input class="form-control" name="firstName" ng-model="listing.firstName" required>
          <div ng-show="contactForm.$submitted || contactForm.$touched">
            <span class="help-block" ng-show="contactForm.firstName.$error.required">Phonebook needs a full name</span>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input class="form-control" name="lastName" ng-model="listing.lastName" required>
          <div ng-show="contactForm.$submitted || contactForm.$touched">
            <span class="help-block" ng-show="contactForm.lastName.$error.required">Phonebook needs a full name</span>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone or Contact</label>
          <input class="form-control" name="phoneNumber" ng-model="listing.phoneNumber" required>
          <div ng-show="contactForm.$submitted || contactForm.$touched">
            <span class="help-block" ng-show="contactForm.phoneNumber.$error.required">How will we reach you?</span>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-lg btn-success" value="Add Contact">
        </div>
      </form>       
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-8">
    <div class="well well-lg">
      <table class="table"> 
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody ng-repeat="listing in listings">
          <tr>
            <td>{{listing.firstName}}</td>
            <td>{{listing.lastName}}</td>
            <td>{{listing.phoneNumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="jumbotron">
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
